.about {
    padding: 100px 20px;
    background-color: #f5f5f5;
    color: #333;
}

.section-title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #00bcd4;
    margin-bottom: 50px;
}

.about-container {
    max-width: 1000px;
    margin: 0 auto;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.about-img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
    border: 3px solid #00bcd4;
    box-shadow: 0 0 10px rgba(0, 188, 212, 0.4);
}

.about-text {
    flex: 1;
    font-size: 1.1rem;
    line-height: 1.6;
}

.about-text span {
    color: #00bcd4;
    font-weight: bold;
}

.about-text b {
    color: #00bcd4;
}
.about-text p{
    color: black;
}

@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
        text-align: center;
    }

    .about-img {
        width: 200px;
        height: 200px;
    }
}